p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  padding: 0 100px;
}

@media (max-width: 992px) {
  .container {
    padding: 0 2rem;
  }
}

span {
  font: 400 1rem "Roboto", sans-serif;
}
p {
  font: 400 0.875rem "Roboto", sans-serif;
}

